body {
  margin: 0;
  overflow: hidden;
  /* cursor: none;  */
}

#render-root {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

#c { display: none; }


.level-picker {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 1.5em;
  padding: 1em;
  background-color: #777;
}

.level-picker input {
  margin-left: 1em;
  width: 40em;
}
